BACKEND_PORT=8090
ALLOWED_ORIGINS=http://localhost:3000,https://yourdomain.com
POSTGRES_USERNAME=username
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL="postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/mydatabase?schema=public"