<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification Result</title>
</head>

<body>
    <h1>
        <%= emailVerified ? 'Email verified' : 'Invalid Token, Email cant be verified' %>
    </h1>
    <a href="http://localhost:3000/">Login</a>
</body>

</html>