<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="http://localhost:8090/static/css/forgetPasswordEmail.css">
</head>

<body>
    <h1>Please reset your password</h1>
    <div>
        <p>Hello,</p>
        <p>We have sent you this email in response to your request to reset your password on DSA Window.</p>
        <p>To reset your password, please follow the link below:</p>
    
    </div>
    <a href='http://localhost:8090/api/auth/forget-password/<%= token %>' class="reset-password-btn">Reset Password</a>

</body>

</html>